body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	position: relative;
}
nav {
	top: 0;
	position: fixed;
	width: 95%;
	overflow: hidden;
	background-color: white;padding-top: 5px;
	padding-right: 75px;
	z-index: 110;
	border-bottom: solid #da9833 4px;
}
#logo {
	float: left;
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 30px;
    margin-left: 85px;
    margin-top: 10px;
}
#logo_name {
	float: left;
	color: #da9833;
	font-size: 20px;
	cursor: default;
}
#logo_name:hover {
	background-color: inherit;
	color: #da9833;
}
nav div {
	float: right;
}
nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color: #414a4c;
	transition: all 0.4s ease 0s;
}
nav a.active {
	background-color: #3c70a4;
	color: white;
}
nav a:hover {
	background-color: #ddd;
	color: black;
}
#header_cover {
	background-position: top right;
	background-size: cover;
	background-color: #dd845a;
	position: relative;
}
#head_txt {
	color: white;
}
#head_txt h1 {
	padding-top: 85px;
	margin-left: 200px;
	font-size: 50px;
}
#line_decor {
	margin-left: 120px;
	display: inline-block;
	float: left;
	padding-top: 0px;
	font-size: 400px;
	transform: scale(.05, 1);
	color: white
}
#abouth1 {
	padding-top: 100px;
	color: #f8f8f8; 
	font-family: sans-serif;
	font-size: 60px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center;
	-webkit-text-stroke: 1px black;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
#abouth2 {
	margin: auto;	
	text-align: center;
	padding-top: 25px;
	width: 40%;
	color: white; 
	font-family: sans-serif; 
	font-size: 18px; 
	font-weight: 750; 
	line-height: 32px;
	-webkit-text-stroke: 0.6px black;	
}
.main2 {
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 175px;
}
.main-table {
	margin-left: 65px;
	margin-top: 50px;
	margin-bottom: 175px;
}
.main3 {
	margin-top: 50px;
	margin-left: 90px;
	margin-right: 90px;
	margin-bottom: 50px;
}
.head1_orng {
	text-align: center;
	margin-top: 50px;
	color: #da9833;
	font-size: 31.5px;
}
.para1 {	
	text-align: center;
	display: block;
	margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.4;
	color: #4f5b66;
	transform: scale(0.95, 1);
	opacity: 0.99;
}
.home_preview {
	margin: auto;
    width: 100%;
	text-align: center;
	position: relative;
	z-index: 1;
	max-height: 20px;
	height: 80vh;
	padding-bottom: 16rem;
}
.pre_img_con {
	width: 444.6px;
	height:	250px;
	display: inline-block;
	border: solid 1px;
    text-align: center;
	position: relative;
}
.pre_img_con img {
	width: 444.6px;
	height:	250px;
	background-position: center top;
	background-size: 400px;
	filter: blur(1px);
	transition: transform .2s;
}
.pre_img_con img:hover {
	width: 444.6px;
	height:	250px;
	background-position: center top;
	background-size: 400px;
	transform: scale(1.1);
	filter: none;
	z-index: 999;
	border: solid 1px;
}
.pre_img_con p {
	color: white;
	-webkit-text-stroke: 0.9px black; 
	font-size: 20px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.pre_img_con p b {
	font-weight: bold;
	font-size: 35px;
	-webkit-text-stroke: 1px black; 
}
.coolbutton{
	color: #fff !important;
	text-transform: uppercase;
	background-color: #e26241;
	box-shadow: 0 5px 0 #5b0909;
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	transition: all 0.4s ease 0s;
	z-index: 2;
}

.coolbutton:hover {
	background-color: #ffd369;
	letter-spacing: 1px;
	cursor: pointer;
	color: black;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.img-round {
	border-radius: 25px;
	float: left;
	width: 250px;
	height: 400px;
}
.para2 {
	color: #333333; 
	font-family: sans-serif; 
	font-size: 20px; 
	line-height: 24px;
	padding-left: 300px;
	padding-top: 50px;
}
#navgallery {
	border-top: solid 10px #494949;
	border-bottom: solid 10px #494949	;
	background-color: #f5b553;
	margin-left: 200px;
	margin-right: 250px;
	padding-top: 30px;
	border-radius: 25px;
}
ul {
	display: inline-block;
}
#navgallery ul li a{
	text-decoration: none;
	color: #494949 !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 5px;
	border: 4px solid #132743 !important;
	transition: all 0.4s ease 0s;
}
#navgallery ul li a:hover {
	color: #ffffff !important;
	background: #494949;
	border-color: white !important;
	transition: all 0.4s ease 0s;
}
table {
	margin-top: 40px;
	background-color: #494949;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
	border-radius: 25px;
	border-top: solid 10px #f5b553;
	border-bottom: solid 10px #f5b553;
	width: 1235px;
	
}
.thead {
	padding-top: 50px;
	color: #f5b553; 
	font-size: 30px; 
	font-family: sans-serif;;
}
.trbody {
	border-bottom: solid 3px;
	padding-top: 40px;
	font-family: sans-serif; 
	font-size: 22.5px; 
	font-weight: bold;
	color: #f3f9fb;
}
.tr-orange {
	background-color: #f5b553;
	
}
td {
	padding-left: 7.5px;
	padding-right: 7.5px;
	padding-bottom: 10px;
	text-align: center;
}
td div {
	display: inline-block;
}
td img {
	border-radius: 25px;
	width: 175px;
	height: 200px;
}
#backtotop a {
	text-decoration: none;
	color: #494949 !important;
}
#backtotop {
	border: solid black 2px; 
	text-align: center;
	font-size: 80px;
	background-color: white;
	color: blue;
	padding-top: 20px;
	width: 75px;
	height: 55px;
	border-radius: 50px;
	position: fixed;
	bottom: 40px;
	right: 80px;
	overflow: hidden;
	transition: all 0.4s ease 0s;
}
#backtotop:hover {
	color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
}
.main3 div {
	display: inline-block;
}
#coninf {
	width: 450px;
	padding: 40px;
	padding-top: 10px;
    background-color: #f7be16;
	display: inline-block;
	
}
#coninf h2 {
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 35px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1;
}
#coninf p {
	font-size: 20px; 
	line-height: 32px;
}
#coninf a {
	text-decoration: none;
	font-size: 20px; 
	line-height: 32px;
}
.inquire {
	text-align: center;
	margin-left: 10px;
	padding: 20px;
	background-color: #494ca2;
	display: inline-block;
}
input[type=submit]{
	width: 550px;
	padding: 12px;
	margin: 8px 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
	display: block;
}
input[type=submit] {
	background-color: #f7be16;
	color: white;
	border: none;
}
input[type=submit]:hover {
	opacity: 0.8;
}
footer{
	border-top: solid black 3px;
	display: block;
	background-color: #fbda91;
	padding-top: 10px;
	padding-bottom: 20px;
}
#endcopy {
	font-size: 12px;
	color: #1b1919;
	text-align: center;
	z-index: 2;
}